*, *:before, *:after {
    box-sizing: border-box; padding: 0; margin: 0;
    font-family: 'exo', 'Unispace', 'PT Mono';
    font-size: 1.3rem;
    color: #f76a6a;
}

@font-face {
    font-family:'exo';
    src: url(typeface/exo/exo-variable.ttf);
}

body {
    background-color: #2b2b2b;
}

main {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 95vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}

canvas {
    padding: 3px;
    border: 3px #f76a6a solid;
    border-radius: 10px;
}

#score {
    margin-bottom: 20px;
    font-size: 2em;
}

#start {
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    font-size: 2em;
    background-color: #2b2b2b;
    border: 3px #f76a6a solid;
    border-radius: 10px;
    transition: transform 0.2s;
}

#start:hover {
    transform: scale(1.05);
}

#start:active {
    transform: scale(1.05);
}

#start:focus {
    outline: none;
    box-shadow: none;
}
